/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

:root {
  --hightlight: blue
}

body {
  border-radius:10px;
  border-color: black;
  border-width: 2px;
  background-color: white;
  color: black;
  font-family: Verdana;
  background-image: url(assets/img/windowsXPWallpaper.png);
}

.grid-container>div {
  text-align: center;
}

.grid-container {
  display: grid;
  width: 100%;

  grid-template-columns: 1fr 255px 1050px 255px 1fr;
  grid-template-rows: auto 1fr auto;

  grid-template-areas:
    "l-gutter Top Top Top r-gutter"
    "l-gutter Left Center Right r-gutter"
    "l-gutter Bottom Bottom Bottom r-gutter";
  grid-auto-flow: row;
  justify-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  gap: 8px;
}

.grid-container > div {
  border-radius: 10px;
  border-style: dashed;
  border-width: 2px;
}

.header {
  grid-area: Top;
  background-color: brown;
}

.leftSide {
  grid-area: Left;
  background-color: aquamarine;
}

.main {
  grid-area: Center;
  background-color: slateblue;
}

.rightSide {
  grid-area: Right;
  background-color: seagreen;
}

.footer {
  grid-area: Bottom;
  background-color: darkmagenta;
}

.section-menu{
  background-color: darkgoldenrod;
}